[run]
source =
       towncrier
branch = True

[paths]
source =
   src/
   .tox/*/lib/python*/site-packages/
   .tox/pypy*/site-packages/

[report]
show_missing = true
skip_covered = true
omit =
   src/towncrier/__main__.py
   src/towncrier/test/*
