*.lock
*.o
*.py[co]
*.pyproj
*.so
*~
.DS_Store
.coverage
.coverage.*
.direnv
.envrc
.idea
.mypy_cache
.nox/
.pytest_cache
.python-version
.vs/
.vscode
Justfile
*egg-info/
_trial_temp*/
apidocs/
dist/
doc/
docs/_build/
dropin.cache
htmlcov/
tmp/
venv/
