include *.rst
include .coveragerc
include LICENSE
include CODE_OF_CONDUCT.md
include pyproject.toml
include tox.ini
recursive-include src *.rst

exclude bin
exclude src/towncrier/newsfragments

recursive-exclude bin *
recursive-exclude src/towncrier/newsfragments *
