include *.rst
include .coveragerc
include LICENSE
include towncrier.ini
include tox.ini
recursive-include src *.rst

exclude bin
exclude src/towncrier/newsfragments

recursive-exclude bin *
recursive-exclude src/towncrier/newsfragments *
